{
  "presets": [
    ["es2015", { "modules": false }],
    "stage-0",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-class-properties",
    ["import", { "libraryName": "antd", "style": "css" }]
  ]
}
